.root
    width: 100%
    padding: 10px 20px
    font-size: 20px
    border-radius: 10px
    background: #212121
    .header
        display: flex
        align-items: center
        justify-content: space-between
        .title
            color: #757575
            strong
                color: #FAFAFA
                font-weight: 400
        a
            font-size: 16px
            opacity: 0.5
            display: block
            text-decoration: underline
    .content
        display: flex
        align-items: center
        gap: 8px
        padding-top: 16px
        transition: 0.2s all ease
        .empty
            font-size: 16px
            text-align: center
            width: 100%
            opacity: 0.8