.root
    width: 100%
    font-size: 20px
    .header
        display: flex
        align-items: center
        justify-content: space-between
        color: var(--font-color)
        padding: 16px
        border-radius: 16px
        // box-shadow: 0px 17px 30px 0px rgba(0,0,0,0.1)
        background: rgba(255, 241, 241, 0.6)
        box-shadow: 0 8px 16px 0 rgba(138, 34, 34, 0.25)
        backdrop-filter: blur( 6px )
        -webkit-backdrop-filter: blur( 6px )
        .title
            strong
                opacity: 0.5
                font-weight: 400
        a
            font-size: 16px
            opacity: 0.5
            display: block
            text-decoration: underline
    .content
        overflow-x: auto
        border-radius: 0 0 16px 16px
        padding: 30px
        display: flex
        align-items: center
        gap: 16px
        padding-top: 16px
        transition: 0.2s all ease
        width: calc(100% + 40px)
        transform: translateX(-20px)
        .empty
            font-size: 16px
            text-align: center
            width: 100%
            opacity: 0.8