.root
    .list
        margin: 20px 0
        padding: 10px 0
        border-top: 2px solid var(--block-dark)
        border-bottom: 2px solid var(--block-dark)
        display: flex
        flex-direction: column
        gap: 15px
        .item
            width: 100%
            padding: 10px 20px
            font-size: 20px
            border-radius: 10px
            background: var(--block-dark)
            color: var(--font-color-white)