.root
    background: var(--block-dark)
    padding: 30px
    border-radius: 20px
    color: var(--font-color-white)
    display: flex
    gap: 10px
    .avatar
        min-width: 38px
        min-height: 38px
        width: 38px
        height: 38px
        border-radius: 100%
        overflow: hidden
        display: flex
        align-items: center
        justify-content: center
        img
            width: 100%
            height: 100%
            object-fit: cover
    &.big
        padding: 15px
        border-radius: 30px
        gap: 15px
        font-size: 20px
        .avatar
            width: 64px
            height: 64px
        .info
            padding: 10px 0